# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Environment files
.env
.venv/
.venv-wsl/
venv/
env/

# IDE files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Testing cache
.pytest_cache/
.cache/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Directories with additional stuff
example_images/

# custom directories
animations/custom/
logs/
calibration/